* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web';
}

body {
    text-align: center;
    margin-top: 200px;
    background-color: #c8d6e5;
}

header {
    padding: 16px 0;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}


form {
    background-color: #c8d6e5;
    padding: 24px 0;

}

form input {
    height: 32px;
    text-transform: uppercase;
}

button {
    background-color: #5f27cd;
    height: 32px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;


}

ul{
    font-style: italic;
    color: #000;
}

li.closed {list-style: disc;}