// Fontes
$fontPrincipal: 'Poor Story', cursive;

// Esquema de Cores
$corDeFundo: #dfe4ea;
$corPrincipal:#3742fa;
$corSecundaria:#5352ed;



// Breakpoints
$mobile: 767px;
$tablet: 1023px;